<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.max.skory.skoryupdate.app"
    >
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="eBash"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".General"
            android:label="eBash Menu"
            >
        </activity>
        <activity
            android:name=".Multiplayer"
            android:label="eBash Multiplayer"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Singleplayer"
            android:label="SKORY Singleplayer"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Options"
            android:label="eBash Optios"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Statistic"
            android:label="eBash" >
    </activity>
        <activity
            android:name=".Loading"
            android:label="eBash beta"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
